db.sqlite3
media/Accounts_file
media/Accounts_file-old
cli
account/__pycache__
account/migrations
base/__pycache__
base/migrations
blog/migrations
blog/__pycache__
ovpn/__pycache__
account/__pycache__
account/migrations/__pycache__
media/.DS_Store
superadmin/__pycache__
__MACOSX

