{% extends 'blog/base.html' %}

{% block content %}
<style type="text/css">
	@media only screen and (min-width: 768px) {
		.grid-right {
			width: 70%;
		}

		.grid-left {
			width: 30%;
			padding-right: 10px;
		}
	}

	@media only screen and (max-width: 768px) {
		.grid-right {
			width: 100%;
		}

		.grid-left {
			width: 100%;
		}
	}
</style>


	<div class="">
		<div class="float-start grid-left">
			<ul class="list-group mb-2">
				{% if choice == 5 %}
					<a href="{% url 'blog:blog' 5 %}" class="list-group-item active" aria-current="true">All posts</a>
				{% else %}
					<a href="{% url 'blog:blog' 5 %}" class="list-group-item " aria-current="true">All posts</a>
				{% endif %}

				{% if choice == 0 %}
					<a href="{% url 'blog:blog' 0 %}" class="list-group-item active" aria-current="true">News</a>
				{% else %}
					<a href="{% url 'blog:blog' 0 %}" class="list-group-item " aria-current="true">News</a>
				{% endif %}

				{% if choice == 1 %}
					<a href="{% url 'blog:blog' 1 %}" class="list-group-item active" aria-current="true">Documents</a>
				{% else %}
					<a href="{% url 'blog:blog' 1 %}" class="list-group-item " aria-current="true">Documents</a>
				{% endif %}

				{% if choice == 2 %}
					<a href="{% url 'blog:blog' 2 %}" class="list-group-item active" aria-current="true">Server news</a>
				{% else %}
					<a href="{% url 'blog:blog' 2 %}" class="list-group-item " aria-current="true">Server news</a>
				{% endif %}

				{% if choice == 3 %}
					<a href="{% url 'blog:blog' 3 %}" class="list-group-item active" aria-current="true">Final Destination</a>
				{% else %}
					<a href="{% url 'blog:blog' 3 %}" class="list-group-item " aria-current="true">Final Destination</a>
				{% endif %}
			</ul>

		</div>

		<div class="float-start grid-right">
		{% if posts %}
			{% for post in posts %}
				<div class="card rounded mb-2">
				  <div class="p-3" style="direction: rtl;" lang="fa">
				    <a style="text-decoration-line: none" href="{% url 'blog:post_detail' post.id  %}" data-bs-toggle="modal" data-bs-target="#exampleModal{{ post.id }}"><h5 class="text-end">{{ post.title }}</h5></a>
				    <p class="text-end">{{ post.content | slice:":500" }}</p>
				  </div>

					<!-- Modal -->
					<div class="modal fade" id="exampleModal{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h1 class="modal-title float-center fs-5" id="exampleModalLabel"><h5 class="text-center">{{ post.title }}</h5></h1>
					        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body" style="direction: rtl;">
					        <div class="p-3">
							    <a style="text-decoration-line: none" href="{% url 'blog:post_detail' post.id  %}" ></a>
							    <p class="text-end">{{ post.content }}</p>
							  </div>
					      </div>
					      {% if post.file %}
						      <div class="modal-footer">
						      	<a style="text-decoration-line: none;" href="{{ post.file.url }}">{{ post.file.name }} <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
  <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
</svg></a></div>

						  {% endif %}
						  {% if post.image %}
						  	<img class="rounded mt-3" src="{{ post.image.url }}" width="100%" height="auto">

						  {% endif %}
					    </div>
					  </div>
					</div>

				  <div class="card-footer text-muted">
				  	تاریخ: {{ post.updated_on }}
				  </div>

				</div>
			{% endfor %}
		{% else %}
			<div class="alert alert-danger" role="alert">
			  There is no Posts yet!
			</div>
		{% endif %}
	</div>


	</div>
{% endblock %}
