{% extends 'account/base.html' %}
{% block content %}

	<ul class="list-group list-group-flush">
		{% for action in actions %}
			<li class="list-group-item">
				{{ action.leader }}
				{% if action.action == 0 %}
					<i class="text-success">Create: </i>
				{% else %}
					<i class="text-warning-emphasis">Charge: </i>
				{% endif %}

				<a href="" data-bs-toggle="modal" data-bs-target="#usermodal{{ action.account.id }}" class="text-decoration-none ">{{ action.account.name }}</a>

				<span class="float-end text-muted fw-light">{{ action.account.created_on }}</span>

			</li>


		{% endfor %}
	</ul>
	{% for action in actions %}
		<!--modal-->
			<div class="modal fade" id="usermodal{{ action.account.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			    <div class="modal-content">
			    	<div class="modal-header">
				        <h1 class="modal-title float-center fs-5" id="exampleModalLabel"><h5 class="">{{ action.account }}</h5></h1>
				        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
			    	</div>
			    	<div class="modal-body">
				        <div class="">

						    <p class=""><i class="text-muted fs-6">password: </i>{{ action.account.password }}</p>
						    <p class="text-muted">{{ action.account.leader.server }} > {{ action.account.leader.server.ir_ip }}</p>
						    <i class="text-muted fws-sm">{{ action.account.created_on }}</i><br>
						    <p class="float-start">{{ action.account.date_end|timeuntil }} left</p>

						</div>
			    	</div>
			    	<div class="modal-footer">
			    		<a class="btn btn-outline-success" href="{% url 'account:charge_account' action.account.id %}">Charge 1 month</a>
			    		<a class="btn btn-primary" href="{{ action.account.file.url }}">Download OVPN file</a>

			    	</div>
			    </div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
