{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html data-bs-theme='light'>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Final VPN</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
  </script>

  <body class="">

    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'superadmin:home' %}">Superadmin Panel</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'base:home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'blog:blog' 5 %}">Blog</a>
              </li>
              <hr>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'superadmin:admin_profile' %}">Personal Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'superadmin:leader_creation' %}">Create Leader</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'superadmin:server_creation' %}">Create Server</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'superadmin:revoke_list' %}">Revokation List</a>
              </li>
              <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Creation
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'superadmin:leader_creation' %}">Create Leader</a></li>
                  <li><a class="dropdown-item" href="{% url 'superadmin:server_creation' %}">Create Server</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>-->
              <hr>
              <li class="nav-item">
                <a class="nav-link text-danger" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  	<br>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
  <script type="text/javascript">
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    document.documentElement.setAttribute('data-bs-theme','dark')
  }
  else {
    document.documentElement.setAttribute('data-bs-theme','light')
  }
  </script>
</html>
