{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html data-bs-theme="light">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</script>


<style type="text/css">
	@media only screen and (min-width: 768px) {
		
	}

	@media only screen and (max-width: 768px) {
		
	}
</style>


<body class="container mt-3 mb-3">
	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="{% url 'base:home' %}">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{% url 'blog:blog' 5 %}">Blog</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{% url 'account:profile' %}">Profile</a>
	  </li>
	</ul>
	<br>
	<div class="">
		<div class="p-3 border rounded">
			<h4 class="text-end ">به مقصد نهایی خوش امدید</h4>
			<p class="text-end ">این وبسایت به منظور اسونتر کردن کارها و اطلاع رسانی ها ایجاد شده و اخرین اخبار و فایل های اموزشی و اپ هارو اینجا قرار میدیم پس حواستون به بخش بلاگ باشه، امیدوارم در کنار همدیگه تجربه ی خوبی رو رقم بزنیم</p>
		
			<br>
			<div class="p-3 bg-info bg-opacity-10 border border-info rounded border-2">
				<div>
				<p class="text-end">برای دانلود اپلیکیشن برای ایفون کافیست که از اپ استور دانلودش بکنید
	لینک اپلیکیشن برای ایفون داخل اپ استور هم همینه:</p>
				<a class="text-start" href="https://apps.apple.com/us/app/openvpn-connect-openvpn-app/id590379981">OpenvVPN for Iphone</a></div><br>

				<div>
				<p class="text-end">اینجا هم فایل دانلود اپ رو برای اندروید میزاریم چون گوگل استور فیلتره:</p>
				<a class="text-start" href="{% static 'base/openvpn.apk' %}">OpenVPN app for androind</a></div>
			</div>
		</div>
	</div>
</body>